@use "../globals" as *;
@use "../parts/common" as *;

.houses {
    @extend .content-width;
    @extend .mb-lg;

    &__inner {
        @extend .flex;
    }

    &__title {
        @extend .mb-sm;
        @extend .font-lr;
    }

    &__item {
        @include mq(md) {
            flex-basis: 50%;
        }
        @include mq(lg) {
            margin-bottom: 60px;
        }
       
    }

    &__btn {
        text-align: center;
        flex-basis: 100%;
    }
}

.popular {


    &__header {
        @extend .content-width;
    }

    &__inner {

    }

    &__container {
       @extend .content-width;
       @extend .flex;
       justify-content: space-between;
    }

    &__item {
       @include mq(md) {
        flex-basis: 47%;
       }
    }

    &__title {
       @extend .mb-sm;
       @extend .font-mb;
    }

    &__img {
       height: 150px;
       margin-bottom: 5px;

       & > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
       }
    }

    &__btn {
        text-align: center;
        flex-basis: 100%;
    }
}
